; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[delayed_gcode DOS_VERSION]
initial_duration: 1.0
gcode:
  M117 ======================================
  M117 DOS Firmware v1.0.0
  M117 https://github.com/eduncan911/dos
  M117 ======================================

[include macros/*.cfg]
