; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.
; 
; TODO: ami's logo
; TODO: test if M117 is defined

[gcode_macro _PURGE_LINE]
; _PURGE_LINE makes a purge blob
; and then "drives out" a line
; from that blob to clean the 
; nozzle.  To use, place the 
; nozzle of where you want the 
; purge line before this is 
; called.  To "knock off" any
; oozing, it is recommended to
; set Z at at least 20mm before
; calling this macro.
; 
; Defaults have been well tested.
; If you retract in PRINT_END,
; make sure to detract that
; amount before calling this
; macro else the blob will be
; missing.
; 
; Use PRIME_RATIO to tweak the
; amount of filament you want
; primed before the very first
; gcode extrusion move.  If you
; have too much oozing, lower
; it.  If missing a bit,
; increase the ratio a bit.
; 
description: Place nozzle at where you want the 20mm line.
variable_purged_total_amount: -1
gcode:
  ; params
  {% set PURGE_BLOB_AMOUNT = params.PURGE_BLOB_AMOUNT | default(10) | float %}
  {% set PURGE_LINE_AMOUNT = params.PURGE_LINE_AMOUNT | default(7) | float %}
  {% set PURGE_MOVE_SPEED = params.PURGE_MOVE_SPEED | default(2) | float %}
  {% set TRAVEL_SPEED = params.TRAVEL_SPEED | default(printer.toolhead.max_velocity / 2 * 60) | float %}
  {% set PRIME_RATIO = params.PRIME_RATIO | default(1.0) | float %}
  {% set HOLD_RETRACT = params.HOLD_RETRACT | default(4.0) | float %}
  {% set RESUME_DETRACT = ( HOLD_RETRACT * PRIME_RATIO ) %}
  
  ; set a variable for print_end to read
  {% set PURGED_TOTAL_AMOUNT = ( PURGE_BLOB_AMOUNT + PURGE_LINE_AMOUNT ) | float %}
  SET_GCODE_VARIABLE MACRO=_PURGE_LINE VARIABLE=purged_total_amount VALUE={ PURGED_TOTAL_AMOUNT } 

  ; begin
  M117 Purge line
  G92 E0
  M117 Over and down to knock off oozing 
  G90
  G0 X{ printer.toolhead.position.x + 5 } Z0.4 F{ TRAVEL_SPEED }

  ; switch to relative positioning for our local movements
  G91
  M83

  ; blob, then purge line
  M117 Blob { PURGE_BLOB_AMOUNT }mm 
  G1 E{ PURGE_BLOB_AMOUNT } F420
  M117 Purge { PURGE_LINE_AMOUNT }mm 
  G1 X20 E{ PURGE_LINE_AMOUNT } F{ PURGE_MOVE_SPEED * 60 }

  ; retract and wipe out
  M117 Retract { HOLD_RETRACT }mm 
  G1 E-{ HOLD_RETRACT } F420 
  G0 Y2 F{ TRAVEL_SPEED }
  G0 X5 Y-2 F{ TRAVEL_SPEED }
  
  ; plug the nozzle from leaking
  G0 Z0.05 F{ TRAVEL_SPEED }

  ; get ready to print
  M117 Prime { RESUME_DETRACT }mm 
  G1 E{ RESUME_DETRACT } F420
  G92 E0
  G90
  M82
  M117 
