; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; FILAMENT_START is used by slicers to specify the filament
; specifics.  You must set EM to 1.0 in the slicer for this
; to work.
; 
; In continuing with DOS' "break free of the slicer" objectives, 
; there are many advantages to using the machine's Flow Control 
; instead of the slicer's Extrusion Multipler:
; 
;   - Real-time flow changes and results without any re-slicing.
;   - Change filament brands without re-slicing.
;   - Machine-level filament profiles (a DOS special, Coming Soon™).
; 
; Just remember to set your Extrusion Multipler in the slicer to 1.0,
; as you'll be adjusting it here from now on.
; 
; Slicer Filament Start Example:
; 
;   FILAMENT_START SPEED=100 FLOW=94.0 PA=0.025
; 
[gcode_macro FILAMENT_START]
gcode:
  {% set SPEED = params.SPEED|default(100)|float %}
  {% set FLOW = params.FLOW|default(94.0)|float %}
  {% set PA = params.PA|default(0.020)|float %}
  {% set SMOOTH = params.PA|default(0.040)|float %}

  M220 S{SPEED}    ; print speed
  M221 S{FLOW}     ; flow control for this temp, filament, printer, and nozzle combination.
  SET_PRESSURE_ADVANCE ADVANCE={PA} SMOOTH_TIME={SMOOTH}
