; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; TODO: extract QIDI items
; 

[gcode_macro PRINT_END]
variable_retracted_amount: -1
variable_park_x_multiply: 0.50
variable_park_y_multiply: 0.85
variable_park_z_multiply: 0.20
variable_park_z_enabled: 1
gcode:
  M117 PRINT END
  TURN_OFF_HEATERS                        ; even in error, we want these off
  CLEAR_PAUSE                             ; clear any pause

  {% set RETRACT_AMOUNT = params.RETRACT_AMOUNT|default(3.0)|float %}

  ; calculate safe wipe and park positions
  ; 
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + (5 * (1 if th.axis_maximum.x - th.position.x > 20 else -1)) %}
  {% set y_safe = th.position.y + (5 * (1 if th.axis_maximum.y - th.position.y > 20 else -1)) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
  {% set x_park = th.axis_maximum.x * park_x_multiply %}
  {% set y_park = th.axis_maximum.y * park_y_multiply %}
  {% set z_park = [th.position.z + (th.axis_maximum.z * park_z_multiply), th.axis_maximum.z]|min %}

  ; quickly, but safely, retract for park, and wipe out
  ; 
  G90                                     ; absolute positioning
  {% if printer.extruder.can_extrude %}
    M117 PRINT END: Retracting filament out of hotend
    M82                                 ; absolute E
    G92 E0                              ; reset extruder
    G1 E-{ RETRACT_AMOUNT } F1800       ; retract filament
    SET_GCODE_VARIABLE MACRO=PRINT_END VARIABLE=retracted_amount VALUE={ RETRACT_AMOUNT }
  {% else %}
    M117 PRINT END: Cannot extruder, skip retraction.
  {% endif %}

  {% if "xyz" in printer.toolhead.homed_axes %}
    M117 PRINT END: Wipe to safe position
    G0 X{x_safe} Y{y_safe} F24000           ; wipe out X Y quickly
    G0 Z{z_safe} F6000                      ; lift Z

    M117 PRINT END: Parking
    G0 X{x_park} Y{y_park} Z{z_park} F6000  ; park
    M400                                    ; wait for buffer to clear
  {% else %}
    M117 PRINT END: Not homed, skip parking.
  {% endif %}

  ; if Z stepping occured during this print, 
  ; save it to file for next print.
  ; 
  SAVE_ZOFFSET

  ; disable all steppers, extruders, and determine
  ; if we need to hold Z until timeout.
  ; 
  M117 PRINT END: Disable steppers
  SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
  SET_STEPPER_ENABLE STEPPER=stepper_y enable=0

  SET_STEPPER_ENABLE STEPPER=stepper_z enable={ park_z_enabled }
  {% for i in range(1,3) %}
    {% set key = "stepper_z" + i|string %}
    {% if printer[ key ] is defined %}
      SET_STEPPER_ENABLE STEPPER={ key } enable={ park_z_enabled }
    {% endif %}
  {% endfor %}

  SET_STEPPER_ENABLE STEPPER=extruder enable=0
  {% for i in range(1,11) %}
    {% set key = "extruder" + i|string %}
    {% if printer[ key ] is defined %}
      SET_STEPPER_ENABLE STEPPER={ key } enable=0
    {% endif %}
  {% endfor %}

  M84

  ; turn off fans
  ; 
  TURN_OFF_FANS

  ; safely reset everything
  ; 
  M117 PRINT END: Reset to defaults
  DISABLE_BOX_HEATER                      ; QIDI box
  DISABLE_ALL_SENSOR                      ; QIDI sensors
  BEEP I=2 DUR=100                        ; QIDI notify

  G90                                     ; absolute positioning
  M82                                     ; absolute extruder
  G92 E0                                  ; reset extruder
  M220 S100                               ; reset print speed                               
  M221 S100                               ; reset print flow
  BED_MESH_CLEAR                          ; clear the mesh
  CLEAR_LAST_FILE                         ; clear PLR
  SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
  UPDATE_DELAYED_GCODE ID=DELAY_CLEAR_DISPLAY DURATION=5
