; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; TURN_OFF_FANS is usually overwritten on a per-printer
; basis to control all the fans of the machine.
; 
[gcode_macro TURN_OFF_FANS]
gcode:
  M117 PRINT END: Turn off part cooling fan
  M106 P0 S0
