; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro _TOOL_MOVE_BUCKET]
gcode:
  M117 Move to bucket
  MOVE_TO_TRASH
