; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro _TOOL_MOVE_PLUG]
gcode:
  M117 Plug extruder
  G0 Y324 F600
  G0 X107 F12000
  G0 X{ 123 + (range(-7, 7) | random) / 10 } F600
  G0 Y{ 321 + (range(-4, 4) | random) / 10 } F600
