; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT78
gcode:
    M117 CANCEL PRINT
    PRINT_END
    
    DISABLE_ALL_SENSOR
    SDCARD_RESET_FILE
    BEEP I=2 DUR=500
    CANCEL_PRINT78
