; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; CLEAR_NOZZLE has been refactored to a "don't bend my nozzle" state,
; along with faster overall performance, and plugging the nozzle on 
; cool-down and heat-up.
; 
; We also move to the bucket, and prep the nozzle for printing 
; by pre-purging into the bucket, and leaving it.
; 
; It also fixes a bug of the nozzle hitting the purge bucket
; and making a clunking sound.  I think this is what may have been
; bending people's nozzles.
; 
[gcode_macro CLEAR_NOZZLE]
description: CLEAR_NOZZLE is a QIDI default macro that is called.
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}
    {% set count = params.COUNT|default(5)|int %}

    M117 Clearing nozzle

    _TOOL_MOVE_BUCKET
    M117 Wait for 150C nozzle
    M104 S150
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150

    M117 Scrub gunk from nozzle
    _TOOL_SCRUB
    _TOOL_MOVE_BUCKET

    M117 Wait for hotend temp to purge
    M109 S{hotendtemp}
    _TOOL_FLUSH COUNT={ count }

    G92 E0
    M106 P0 S0

