; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; G29 is a unified command to level and/or mesh the bed.
; 
[gcode_macro G29]
description: G29 is a unified command to level and/or mesh the bed.
variable_k:1
gcode:
  {% set probe_offset_x = 
    (printer.toolhead.axis_maximum.x / 2) - printer.probe["x_offset"] %}
  {% set probe_offset_y = 
    (printer.toolhead.axis_maximum.y / 2) - printer.probe["y_offset"] %}   

  BED_MESH_CLEAR
  get_zoffset

  {% if k|int==1 %}
    M117 Wait for bed mesh calibate
    QIDI_PROBE_PIN_2
    BED_MESH_CALIBRATE PROFILE=kamp
    SAVE_VARIABLE VARIABLE=profile_name VALUE='"kamp"'
    G4 P5000
    SAVE_CONFIG_QD
  {% else %}
    M117 Using mesh: default
    BED_MESH_PROFILE LOAD=default
    SAVE_VARIABLE VARIABLE=profile_name VALUE='"default"'
  {% endif %}

; G31 enables bed mesh at START_PRINT.
; 
[gcode_macro G31]
description: G31 enables bed mesh at START_PRINT.
gcode:
  SET_GCODE_VARIABLE MACRO=G29 VARIABLE=k VALUE=1

; G32 disables bed mesh at START_PRINT.
; 
[gcode_macro G32]
description: G32 disables bed mesh at START_PRINT.
gcode:
  SET_GCODE_VARIABLE MACRO=G29 VARIABLE=k VALUE=0
