; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro get_zoffset]
gcode:
  M117 Get zoffset
  {% set probe_offset_x = 
      (printer.toolhead.axis_maximum.x / 2) 
      - printer.probe["x_offset"] %}
  {% set probe_offset_y = 
      (printer.toolhead.axis_maximum.y / 2)
      - printer.probe["y_offset"] %}    

  G1 Z10 F600
  G1 X{ probe_offset_x } Y{ probe_offset_y } F7800
  Z_VIBRATE
  m204 S2000
  G4 P500
  G0 F7800
  M117 Adjusting Z axis tilt
  Z_TILT_ADJUST PROBE_SPEED=7.5 LIFT_SPEED=20 SAMPLES=3 SAMPLE_RETRACT_DIST=2 SAMPLES_TOLERANCE=0.02 SAMPLES_TOLERANCE_RETRIES=5
  G1 X{ probe_offset_x } Y{ probe_offset_y } F7800
  PROBE PROBE_SPEED=7.5 LIFT_SPEED=20 SAMPLES=3 SAMPLE_RETRACT_DIST=2 SAMPLES_TOLERANCE=0.02 SAMPLES_TOLERANCE_RETRIES=5
  move_subzoffset ; this runs G0 Z{last.probe_offset}
  show_zoffset
  G1 Z10 F600
  G28 XY
  M204 S10000
  M117

; save_zoffset will only save the Z offset if adjusted less 
; than 0.5. otherwise, we require you to manually update 
; printer.cfg for any larger changes.
; 
[gcode_macro save_zoffset]
gcode:
  {% set z = printer.gcode_move.homing_origin.z %}
  M117 Save zoffset: {z}
  {% if z < 0.5 %}
    SAVE_VARIABLE VARIABLE=z_offset VALUE={z}
  {% endif %}

[gcode_macro set_zoffset]        
gcode:
  {% set z = printer.save_variables.variables.z_offset %}
  M117 Set zoffset: {z}
  SET_GCODE_OFFSET Z={z} MOVE=0

[gcode_macro show_zoffset]        
gcode:
  M117 Show zoffset: { printer.probe.last_z_result }

[gcode_macro move_subzoffset]
gcode:
    {% set z = printer.probe.last_z_result %}
    M117 Move to sub-z offset { z }
    G90
    G1 Z{ z } F600
    SET_KINEMATIC_POSITION Z={ z }
