; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; LINE_PURGE is a simple stub that calls dos/common/macros/_PURGE_LINE.cfg.
; It is compatible with QIDI's Community Firmware + KAMP enabled slicers,
; as their directions say to modify the slicer's START gcode to insert
; the LINE_PURGE macro.  Therefore, this is required so those users can
; continue using a previous hybrid setup without error.
; 
[gcode_macro LINE_PURGE]
description: Stub to call dos/common/macros/_PURGE_LINE.cfg
gcode:
    _PURGE_LINE
