; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; TODO: generalize to move to ~/dos/common/ for all printers
; 

[gcode_macro PRINT_START]
gcode:
  M117 START PRINT

  ; _START_PRE_INIT
  ; 
  UPDATE_DELAYED_GCODE ID=DELAY_NEVERMORE_OFF DURATION=0
  UPDATE_DELAYED_GCODE ID=DELAY_BOARD_FAN_SILENT DURATION=0
  AUTOTUNE_SHAPERS
  TOOL_CHANGE_END
  DISABLE_ALL_SENSOR
  CLEAR_PAUSE
  {% if printer["temperature_fan adaptive_board_fan"] is defined %}
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=adaptive_board_fan TARGET=45
  {% endif %}

  {% set extruder = params.EXTRUDER|default(0)|int %}
  {% set bedtemp = params.BED|default(57)|int %}
  {% set hotendtemp = params.HOTEND|default(257)|int %}
  {% set chambertemp = params.CHAMBER|default(0)|int %}
  {% set min_temp = 170 %}

  ; _START_INIT
  ; 
  M117 Start all heaters
  M140 S{bedtemp}
  M141 S{chambertemp}
  M104 S{hotendtemp}

  ; _START_HOMING
  ; 
  G28

  ; _START_CLEAR_NOZZLE
  ; 
  _TOOL_MOVE_BUCKET
  M117 Wait on extruder to reach 170
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=170
  M104 S140 ; drop the temps back down
  M141 S{chambertemp}
  M106 P0 S255
  CLEAR_FLUSH
  _TOOL_SCRUB
  _TOOL_MOVE_BUCKET
  M117 Wait on extruder to cool to 150
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
  M106 P0 S0

  ; _START_QIDIBOX
  ; 
  {% if printer.save_variables.variables.box_count > 0 %} 
    M117 Qidibox detected. 
    TOOL_CHANGE TOOL={ extruder } TEMP={ hotendtemp } WIPE=0
    _TOOL_MOVE_BUCKET
    M104 S140 ; drop the temps back down
    M141 S{chambertemp}
    M117 Wait on extruder to cool to 150
    M106 P0 S255
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
    M106 P0 S0
  {% endif %}

  ; _START_Z_OFFSETS
  ; 
  M117 Wait for bed temp
  M141 S{chambertemp}
  M140 S{bedtemp}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={ bedtemp - 1 }
  M117 Setup z-offset at bed operating temp
  G28 Z
  M141 S{chambertemp}
  set_zoffset
  M141 S{chambertemp}
  M117 Run G29 for mesh
  G31 ; enable mesh. G32 to disable mesh
  G29
  G90
  G0 Z10 F2400
  _TOOL_MOVE_BUCKET
  G90
  G0 Z10
  M141 S{chambertemp}

  ; _START_HEATERS_WAIT
  ; 
  M117 Waiting for all heaters
  M104 S150  ; chamber can take a while, cool extruder
  M140 S{bedtemp}
  M191 S{chambertemp}
  M109 S{hotendtemp}
  M106 P0 S0
  M106 P2 S0

  ; _START_TOOL_PURGE
  ; 
  M117 Clear nozzle and purge
  # CLEAR_NOZZLE HOTEND={hotendtemp} COUNT=1
  # _TOOL_MOVE_BUCKET
  G90
  G0 X160 Y0 F7800
  G0 Y-2 F3000
  _PURGE_LINE 

  ; exit fast, and go!
  ; 
  ENABLE_ALL_SENSOR
  SET_PRINT_STATS_INFO CURRENT_LAYER=1
  G90
  # G0 Y308 F30000
  G92 E0
  M82
  M117 
