; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro PRINT_START]
gcode:
  M117 START PRINT

  ; _START_PRE_INIT
  ; 
  UPDATE_DELAYED_GCODE ID=DELAY_NEVERMORE_OFF DURATION=0
  UPDATE_DELAYED_GCODE ID=DELAY_BOARD_FAN_SILENT DURATION=0
  AUTOTUNE_SHAPERS
  TOOL_CHANGE_END
  DISABLE_ALL_SENSOR
  CLEAR_PAUSE
  {% if printer["temperature_fan adaptive_board_fan"] is defined %}
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=adaptive_board_fan TARGET=45
  {% endif %}

  {% set extruder = params.EXTRUDER|default(0)|int %}
  {% set bedtemp = params.BED|default(57)|int %}
  {% set hotendtemp = params.HOTEND|default(257)|int %}
  {% set chambertemp = params.CHAMBER|default(0)|int %}
  {% set min_temp = 170 %}

  ; _START_INIT
  ; 
  M117 Start all heaters
  M140 S{bedtemp}
  M141 S{chambertemp}
  M104 S{hotendtemp}

  ; _START_HOMING
  ; 
  G28

  ; _START_TOOL_CLEAN
  ; 
  TOOL_CHANGE TOOL={ extruder } TEMP={ hotendtemp }

  M117 Wait on extruder to reach 170
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=170
  M104 S140 ; drop the temps back down
  M141 S{chambertemp}
  M117 Wait on extruder to cool to 150
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
  CLEAR_FLUSH
  _TOOL_SCRUB
  _TOOL_MOVE_PLUG

  ; _START_Z_OFFSETS
  ; 
  M117 Wait for bed temp
  M141 S{chambertemp}
  M140 S{bedtemp}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={ bedtemp - 1 }

  M117 Setup z-offset at operating temps
  G28 Z
  M141 S{chambertemp}
  set_zoffset
  M141 S{chambertemp}
  M117 Run G29 for mesh
  G32 ; enable mesh. G32 to disable mesh
  G29
  M141 S{chambertemp}

  ; _START_TOOL_PURGE
  ; 
  M117 Clear nozzle and purge
  M104 S{hotendtemp}
  M141 S{chambertemp}
  CLEAR_NOZZLE HOTEND={hotendtemp} COUNT=1

  ; _START_FINAL
  ; 
  M117 Waiting for all heaters
  M104 S150  ; chamber can take a while, cool extruder
  M191 S{chambertemp}
  M109 S{hotendtemp}
  M106 P0 S0
  M106 P2 S0
  ENABLE_ALL_SENSOR
  SET_PRINT_STATS_INFO CURRENT_LAYER=1

  ; exit fast, and go!
  G0 Y312 F30000
  M83
  G1 E2 F1800
  M82
  G92 E0
  M117 
