; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; SCREWS_TILT_CALCULATE is changed to remove disabling of the
; chamber heater and blunt-force it back to 65C all the time.
; The reason is we want to keep the chamber hot when performing
; screws tile calculate, over and over again.
; 
[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE_BASE
gcode:
    { action_respond_info("starting screw rotation calculation...") }
    # M141 S0 # disable chamber heater (see https://github.com/qidi-community/Plus4-Wiki/tree/main/content/chamber-heater-issue)
    M4031
    G28
    G0 F24000
    M141 S65
    Z_TILT_ADJUST probe_speed=10 lift_speed=20 samples=3 sample_retract_dist=2 SAMPLES_TOLERANCE=0.01 SAMPLES_TOLERANCE_RETRIES=5
    M141 S65
    _SCREWS_TILT_CALCULATE_BASE
