; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; SET_PRINT_STATS_INFO reverts QIDI's logic of disabling the
; heater if position.z > 260.  Some of us have different
; fan housings that direct airflow away from the bed.
; 
[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
gcode:
    {% set curlayer =  params.CURRENT_LAYER|default(1)|int %}
    SET_PRINT_STATS_INFO_BASE CURRENT_LAYER={curlayer}
