; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[gcode_macro TURN_OFF_FANS]
gcode:
  M117 PRINT END: Turn off part cooling fan
  M106 P0 S0

  M117 PRINT END: Turn off AUX fan
  M106 P2 S0

  ;M117 PRINT END: Turn off exhaust fan
  ;M106 P3 S0    ; repurposed for internal Nevermore
  UPDATE_DELAYED_GCODE ID=DELAY_NEVERMORE_OFF DURATION=300

  {% if printer["temperature_fan adaptive_board_fan"] is defined %}
    UPDATE_DELAYED_GCODE ID=DELAY_BOARD_FAN_SILENT DURATION=60
  {% endif %}

[delayed_gcode DELAY_NEVERMORE_OFF]
gcode:
  M117 Delayed gcode: Turn off Nevermore fans
  M106 P3 S0
  UPDATE_DELAYED_GCODE ID=DELAY_CLEAR_DISPLAY DURATION=2

[delayed_gcode DELAY_BOARD_FAN_SILENT]
gcode:
  M117 Delayed gcode: Reset board fan to 65C
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=adaptive_board_fan TARGET=65
  UPDATE_DELAYED_GCODE ID=DELAY_CLEAR_DISPLAY DURATION=2
