; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; bed_screws now has faster cycling between bed screws 
; adjustments by ending next to where it homes.
; 
[bed_screws]
horizontal_move_z: 5
probe_height: 0
speed: 250
probe_speed: 5
screw1: 285,21
screw1_name: Front right
screw2: 285,281
screw2_name: Back right
screw3: 25,281
screw3_name: Back left
screw4: 25,21
screw4_name: Front left
