; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; overall speed greatly increased.
; carbon bed requires to bring it in a bit.
; out-of-memory errors fixed.
; 
[bed_mesh]
speed: 250
horizontal_move_z: 2
mesh_min: 25,25
mesh_max: 275,275
probe_count: 7,7
algorithm: bicubic
bicubic_tension: 0.4
mesh_pps: 5,5
