; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

[homing_override]
axes: xyz
set_position_z: 0
gcode: 
  {% set HOME_CUR = 1 %}
  {% set driver_config = printer.configfile.settings['tmc2240 stepper_x'] %}
  {% set RUN_CUR = driver_config.run_current %}
  {% set HOLD_CUR = driver_config.hold_current %}
  {% set hopped_up = false %}

  ; let's figure out what exactly we are homing
  ; 
  {% set homing = "" %}
  {% if params.X is undefined 
      and params.Y is undefined 
      and params.Z is undefined %}
    {% if "x" not in printer.toolhead.homed_axes
        or "y" not in printer.toolhead.homed_axes %}
      {% set homing = "xyz" %}
    {% else %}
      {% set homing = "z" %}
    {% endif %}
  {% else %}
    {% if params.X is defined 
        or params.Y is defined 
        or params.XY is defined %}
      {% set homing = "xy" %}
    {% endif %}
    {% if params.Z is defined %}
      {% if "x" not in printer.toolhead.homed_axes
          or "y" not in printer.toolhead.homed_axes %}
        {% set homing = "xyz" %}
      {% endif %}
      {% set homing = homing ~ "z" %}
    {% endif %}
  {% endif %}

  M117 Homing { homing }
  M204 S5000
  M220 S100

  {% if "xy" in homing %}
    G91
    G0 Z7 F600
    {% set hopped_up = true %}

    ; fun fact...
    ; 
    ; the TMC datasheet for 2209s state you must wait 2 seconds
    ; for the buffer to clear before reading the DIAG pin.

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8} 
    G28 X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR} 
    G0 X45 F5200
    G4 P1000

    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9} 
    G28 Y
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR} 
    G0 Y10 F5200
    G4 P1000

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8} 
    G28 X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR} 
    G0 X10 F5200
  {% endif %}

  ; we always want to move to center
  ; 
  G0 X150 Y150 F7800

  {% if "z" in homing %}
    {% if hopped_up == false %}
      G91
      G0 Z7 F600
      G90
    {% endif %}
    QIDI_PROBE_PIN_2
    G28 Z
    G0 Z10 F600
  {% endif %}

  M204 S10000
  G90
