; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; smart_effector is changed to DOS preferences to 
; speed things up while tightening tolerances.
; 
[smart_effector]
speed: 7.5
lift_speed: 20
recovery_time: 0.0
samples: 3
samples_result: average
sample_retract_dist: 2
samples_tolerance: 0.02
samples_tolerance_retries: 5
