; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; mag-probe offsets are different
; 
[z_tilt]
z_positions:
  -17.5,150
  335.7,150
points:
  0,150
  255,150
speed: 250
horizontal_move_z: 2
retries: 5
retry_tolerance: 0.02
