; Copyright (c) Eric Duncan (license@eduncan911.com)
; Free for non-commercial use. Commercial use requires separate license.
; See LICENSE file for full terms.

; NOTICE: There are some functionality changes with this dos
; version.  Take note of the following:
; 
;   - disabled bed load cells, only using MAG Probe.
;   - forced chamber heater functionality in python.
; 

; more reasonable quality
; 
[printer]
max_velocity: 500
max_accel: 10000
max_accel_to_decel: 5000
square_corner_velocity: 15

; speed up homing, probing, meshing, tilt_z, etc
; 
[stepper_x]
homing_speed:100

[stepper_y]
homing_speed:100

[stepper_z]
homing_speed: 20
homing_speed_reverse: 10
homing_retract_dist: 2.0

; become quieter faster, and run during crashes
; 
[heater_fan hotend_fan]
heater_temp: 62.0
shutdown_speed: 1.0

[heater_fan hotend_fan2]
heater_temp: 62.0
shutdown_speed: 1.0

[heater_fan hotend_fan3]
heater_temp: 62.0
shutdown_speed: 1.0

; prevent light flickering
; 
[extruder]
pwm_cycle_time: 0.01667

[heater_bed]
pwm_cycle_time: 0.01667

[heater_generic chamber]
pwm_cycle_time: 0.01667

[heater_generic heater_box1]
pwm_cycle_time: 0.01667

; always run the chamber_fan when crashed
; 
[chamber_fan chamber_fan]
shutdown_speed: 1.0

; load macros
; 
[include macros/*.cfg]

; #*#############################################################
; #*#############################################################
; #*# dynamic vars follow below to keep between upgrades.
; #*#############################################################
; #*#############################################################
; 
[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 49.0
shaper_type_y = zv
shaper_freq_y = 39.0

[bed_mesh default]
version = 1
points =
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
  -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137, -0.116137
x_count = 7
y_count = 7
mesh_x_pps = 5
mesh_y_pps = 5
algo = bicubic
tension = 0.4
min_x = 25.0
max_x = 274.96000000000004
min_y = 25.0
max_y = 274.96000000000004

[extruder]
control = pid
pid_kp = 42.120
pid_ki = 8.259
pid_kd = 53.703

[heater_generic chamber]
pid_kp = 28.089
pid_ki = 0.190
pid_kd = 1000

[heater_bed]
pid_kp = 100
pid_ki = 1.0
pid_kd = 20
